@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Pacifico&family=Roboto&display=swap');

html{
    background-color:antiquewhite;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

main{
    padding: 16px;
}

footer{
    padding-bottom: 24px;
    padding-left: 15px;
    padding-right: 0px;
    background-color: rgb(161, 236, 161);
    font-size: 20px;
    font-style:italic;
    position: fixed;
    bottom:0;
    width:100%;
    height:5px;
}

img{
    height: 200px;
}
nav{
    border-bottom: 1px solid black;
    padding: 12px;
    background-color: orangered;
}

nav a{
    color:white;
    font-size: 18px;
}

nav a:hover{
    color: blue;
}
a:link{
    text-decoration: none;
}

.scrumptious-recipes-header{
    color:rgb(15, 70, 15);
    font-family: 'Bakbak One', cursive;
    margin-bottom:10px;
    margin-top:10px;
    grid-template-columns: 1fr;
}

.cursiveh2{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin-bottom: 26px;
    margin-top:10px;
}

a {
    color:rgb(33, 161, 33);
}


.food{
    display: grid;
    grid-template-columns: repeat(4,auto) 1fr;
    column-gap: 16px;
    height: 300px;
    margin-top:150px;
}


li:nth-child(2n){
    background-color:rgb(135, 131, 131);
}

tr:nth-child(2n+1){
    background-color: aquamarine;
}